version: '3.8'
services:
  postgres:
    image: postgres:14
    container_name: swipestats-db
    restart: always
    ports:
      - 5432:5432
    env_file:
      - .env
    volumes:
      - postgres:/var/lib/postgresql/data

volumes:
  postgres:
    name: swipestats